.account-main {
    margin-top: 100px;
    padding: 1rem;
}

.menu-side {
    position: sticky;
    top: 100px;
    p, ul > li{
        font-size: 85%;
        margin-bottom: 10px;
    }
}

.account-body {
    position: sticky;
    top: 100px;
}

.footer {
    padding: 0 1rem;

}

.p {
    
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #5b6574;

}