app-navbar
.row.account-main
  .col-md-2
    .menu-side
      p.text-muted: strong MENU
      ul.pl-0(style="list-style-type:none;")
        li Onboarding no boards
        li Multiple Boards
        li Rollover States
        li New Databoard Modal
  .col-md-10.account-body
    router-outlet
hr
footer
  p © Company 2017-2018
