ul.nav
    li.nav-item.border-right: a.nav-link.text-muted(href="javascript:void(0)") About
    li.nav-item.border-right: a.nav-link.text-muted(href="javascript:void(0)") FAQ
    li.nav-item.border-right: a.nav-link.text-muted(href="javascript:void(0)") Pricing
    li.nav-item: a.nav-link.text-muted(href="javascript:void(0)") Dashboard