:host {
    color: #4E4F51;
}
.navbar {
    padding: 1rem;
    background-color: #eef3f6;
}
.nav-brand {
    background: #FFFFFF;
    padding: 10px;
    cursor: pointer;
    i.material-icons {
        opacity: 0.32;
    }
}
.brand-name.ml-5 {
    font-family: 'Lato', sans-serif;
}

.d-flex.nav-user {
    font-family: 'Lato', sans-serif; 
}
.nav-user {
    background: #FFFFFF;
    padding: 10px;
    .logout {
        cursor: pointer;
    }
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }