nav.navbar.navbar-expand-lg.fixed-top.navbar-dark.d-flex.justify-content-between(resizeObserver, (resize)="onResize($event)")
    .d-flex.nav-brand(routerLink="/")
        i.material-icons home
        .brand-name.ml-5 habitus.network
    .d-flex.nav-user
        .logout.px-3(routerLink="/login") Logout
        .user.px-3(dropdown) 
            .username.dropdown-toggle(dropdownToggle) Huw Jones
            .dropdown-menu.dropdown-primary.dropdown-menu-right(*dropdownMenu,style="transform: translateY(-19px);")
                a.dropdown-item([routerLinkActive]="['active']", [routerLinkActiveOptions]='{exact:true}', routerLink='/app/dashboard') Dashboard
                a.dropdown-item([routerLinkActive]="['active']", [routerLinkActiveOptions]='{exact:true}', routerLink='/app//profile') Profile
                a.dropdown-item([routerLinkActive]="['active']", [routerLinkActiveOptions]='{exact:true}', routerLink='/app//insights') Insights
                a.dropdown-item([routerLinkActive]="['active']", [routerLinkActiveOptions]='{exact:true}', routerLink='/app//history') History
        span.dot
    //- button.navbar-toggler((click)="onNavMenu()")
    //-     span.navbar-toggler-icon
    //- .collapse.navbar-collapse(*ngIf="sizeNav")
    //-     app-navbar-menu
    //- .collapse.navbar-collapse.show(*ngIf="openNavMenu && !sizeNav", @heightExpand)
    //-     app-navbar-menu