nav.navbar.navbar-expand-lg.fixed-top.navbar-dark.d-flex.justify-content-between(resizeObserver, (resize)="onResize($event)")
    .d-flex.nav-brand(routerLink="/app")
        i.material-icons menu
        .brand-name.ml-5 Databoards
    .d-flex.nav-user
        .logout.px-3((click)='authService.logoutUser()') Logout
        .user.px-3(dropdown) 
            .username.dropdown-toggle(dropdownToggle) {{authService.user.name}}
            .dropdown-menu.dropdown-primary.dropdown-menu-right(*dropdownMenu,style="transform: translateY(-19px);")
                a.dropdown-item([routerLinkActive]="['active']", [routerLinkActiveOptions]='{exact:true}', routerLink='/app/dashboard') Dashboard
                a.dropdown-item([routerLinkActive]="['active']", [routerLinkActiveOptions]='{exact:true}', routerLink='/app//profile') Profile
                a.dropdown-item([routerLinkActive]="['active']", [routerLinkActiveOptions]='{exact:true}', routerLink='/app//insights') Insights
                a.dropdown-item([routerLinkActive]="['active']", [routerLinkActiveOptions]='{exact:true}', routerLink='/app//history') History
        
    //- button.navbar-toggler((click)="onNavMenu()")
    //-     span.navbar-toggler-icon
    //- .collapse.navbar-collapse(*ngIf="sizeNav")
    //-     app-navbar-menu
    //- .collapse.navbar-collapse.show(*ngIf="openNavMenu && !sizeNav", @heightExpand)
    //-     app-navbar-menu