h1.display-3 {
    font-family: 'Bitter', serif;
}
h1.display-4 {
    font-family: 'Bitter', serif;
}
h5.card-title {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #354052;
}
p.card-text {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #5b6574;

}

h5.rollover {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    opacity: 1;
}

.main-header {
    background: transparent;
}

.card.add {
    height: 100%;
    border-style: dashed;
}
.card {
    position: relative;
    }

/* Overlay */
.ovl {
    opacity: 0;
    height: 52%;
}

.ovl:hover {
    opacity: 1;
    background: #3540524d;
    height: 52%;
}

.material-icons.large {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 48px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    color: #d7d7d7;
    position: absolute;

  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }
 