main(role='main')
  // Main jumbotron for a primary marketing message or call to action
  .jumbotron.main-header
    .container
      .row
        .col-sm-3
          .card
            img.card-img-top(src='/assets/images/health.jpg', alt='Card image cap')
            .card-body
              h5.card-title Health & Fitness
              p.card-text With supporting text below as a natural lead-in to additional content.
              
        .col-sm-3
          .card
            img.card-img-top(src='/assets/images/health.jpg', alt='Card image cap')
            .card-body
              h5.card-title Health & Fitness
              p.card-text My Personal Health & Medical Record
              
        .col-sm-3
          .card
            img.card-img-top(src='/assets/images/health.jpg', alt='Card image cap')
            .card-body
              h5.card-title Home & Security
              p.card-text Energy Usage, Security & Connected Home
              
        .col-sm-3
          .card
            img.card-img-top(src='/assets/images/health.jpg', alt='Card image cap')
            .card-body
              h5.card-title My Community
              p.card-text What is going on in my Neighbourhood
              
      
    
  .container
    // Example row of columns
    .row
      .col
        ul(*ngIf="regionesComunas")
          li(*ngFor="let reg of regionesComunas.data")
            h4 {{reg.first_name}}
      