.row.vh-100.view
  .col-md-6.px-0.welcome-section
    .d-flex.align-items-center.justify-content-end.h-100
      .d-flex.flex-column.welcome-container
        .welcome-text
          h1 Welcome to Habitus.Network
          p Data visualisation
        .welcome-bottom
    .d-flex.welcome-footer.mb-4
      app-footer
  .col-md-6.px-0.login-section
    .vh-100.d-flex.align-items-center.login-mask
      .d-flex.flex-column.flex-grow-1
        .login-label.mb-3 Login to your account
        form.form-signin([formGroup]="form", (submit)="onLoginSubmit()")
          .form-inputs
            .form-label-group
              input#inputEmail.form-control(type="email", placeholder="Email address", required="", formControlName="emailCtrl")
              label(for="inputEmail") Email address
            .form-label-group
              input#inputPassword.form-control(type="password", placeholder="Password", required="", formControlName="passwordCtrl")
              label(for="inputPassword") Password
            .forgot-password.text-right
              a(href="/") Forgot Password?
          
          .mt-5.mb-3.text-muted.text-center.d-flex.justify-content-between.align-items-center.login-control
            .signup-text Don't have an account yet? 
              a(routerLink="/register") Sign up
            button.btn.btn-danger(type="submit") Sign in