h1.display-3 {
    font-family: 'Bitter', serif;
}
h1.display-4 {
    font-family: 'Lato', sans-serif;
}
h2.display-4 {
    font-family: 'Lato', sans-serif;
    color: #7b8492;
    font-weight: 400;
    font-size: 28px;
}

h5.card-title {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #354052;
}
p.card-text {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #5b6574;
}

.main-header {
    background: transparent;
}

.card.add {
    height: 100%;
    border-style: dashed;
}
.card {
    position: relative;
    &:hover{
        box-shadow: 0 3px 3px 0 rgba(70, 70, 70, 0.096), 0 3px 10px 0 rgba(223, 223, 223, 0.021);
    }


}
button.btn.btn-primary.btn-sm.submit {
    background-color: #192d4d;
    text-decoration-line: none;
    border: none;
}

button.btn.btn-primary.btn-sm.submit:hover {
    background-color: #3e4c644d;
}

img.card-img-top.profile:hover {
    background-color: #3e4c644d;
    opacity: 0.2;
}

.material-icons.large {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 48px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    color: #d7d7d7;
    position: absolute;

  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }
 